<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings>
  <add name="MOfficeEntities" connectionString="metadata=res://*/MOfficeEdm.csdl|res://*/MOfficeEdm.ssdl|res://*/MOfficeEdm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS2012;initial catalog=MOffice;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="MOffice.Properties.Settings.MOfficeConnectionString"
    connectionString="Data Source=ADMIN\SQLEXPRESS2012;Initial Catalog=MOffice;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="MOfficeEntities1" connectionString="metadata=res://*/MOfficeEdm.csdl|res://*/MOfficeEdm.ssdl|res://*/MOfficeEdm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VANTHUTHITRAN-P\SQLEXPRESS;initial catalog=MOffice;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="MOffice.Properties.Settings.MOfficeConnectionString1"
    connectionString="Data Source=VANTHUTHITRAN-P\SQLEXPRESS;Initial Catalog=MOffice;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
    providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>